.stopwatch-box {
    margin: 60px auto;
    padding: 20px;
    border-radius: 12px;
    background: #f7f7f7;
    max-width: 300px;
    text-align: center;
    box-shadow: 0, 2px, 6px, rgba(0,0,0.1,0.1);
}

.stopwatch-btn {
    margin: 5px;
    padding: 5px 12px;
    font-size: 15px;
    cursor: pointer;
}